.row
  .span10
    %h2 Share your thoughts anonymously. 
    

.row
  .span10.mt20
    %h4 Why Dmtri?

.row
  .span1
    = image_tag "manv2.png"
  .span4
    %b Anonymously
    write, share photos and comment on posts.
  .span2
    = image_tag "meniconsv2.png"
  .span3
    %b Sign up without revealing your identity.
    Dmtri won't ask for your email when you sign up.
    
.row.mt20
  .span10
    %h4 Motivation behind creating Dmtri
    %p I like to write. Most of my writing remains with me privately in my journal in ink and paper. I don't visit it regularly, but it is there. I write honestly in my journal. Some of its content is not exactly something I would like to parade around with my name on it. Not because I write anything perverse or heinous in nature, but with a benign reason that some of my writing will become a potential source of tension in my interpersonal relationships. As long as the government doesn't knock down my door and confiscate my property, I am pretty sure, my writing will be safely guarded with me.

    %p This is all well and good until I want to share my writing. Where can I turn to when I want to share my writing with others, but in an anonymous manner? There are many great blogging platforms out there. Blogger, Wordpress, Livejournal and Tumblr are some websites that comes to my mind immediately. I am sure there are several dozens more like these. There are also Facebook and Twitter which has made dissemination of information to reach out to thousands a possibility even as a small time blogger. These are all great tools for writing online, but none of these platforms provide a normalized method of writing anonymously. All these tools do not see writing anonymously as an important use case by users.

    %p First, there is the signing up part. These websites' number one goal is to retain more users. Big user numbers always look great for investors. It's annoying for users, but it's one thing all these websites will not compromise on. You must sign up. If you don't, you can't use it.

    %p To make matters worse, pretty much all these services require you to provide email address when you sign up. You can sign up with a fake email, but that in itself is more hassle a user has to go through. Even when you do provide an email, they sometimes expect another step of verifying your email address.

    %p In response to these problems, I created Dmtri. Dmtri (pronounced like Dmitry) is where you can write anonymously, but publicly. You have a choice to sign up or simply swing by and drop a couple lines of text. The account you signed up for on Dmtri is not tied to the user's email. Users can create as many pseudonyms they want. You can be as true and honest as you want or feign your honesty.

    %p Still in progress, dmtri.com.
    