%h1 Contact

%p Please use this form to report any problems, questions, reporting bugs, requesting features, disclosing security issues, etc.

= form_for @contact_mail, :url => mail_contact_path do |f|
  = render "shared/flash_messages", :object => @contact_mail
  .field
    = f.label :email, "Email (optional)"
    = f.text_field :email, :class => "input-block-level"
  .field
    = f.label :content
    = f.text_area :content, :class => "input-block-level", :rows => 10
  - if !user_signed_in?
    .field
      = render "layouts/recaptcha/verification", :f => f 

  .submit
    = f.submit "Send", :class => "btn btn-primary"