.row
  .span10
    %h2 Help
    %h3 What is Dmtri?
    %p Dmtri is a place where you can share your thoughts anonymously.
    %h3 How do you pronounce Dmtri?
    %p Dmtri sounds like the common Russian man's name, Dmitry.
    %h3 Can anyone write and comment?
    %p Yes. Users can write and comment keep a history of their activities. You don't have to sign up to write and comment.
    %h3 How do I get rid of verification?
    %p When you are signed in as a user, Dmtri will stop asking you for verification.
    