.row
  .span10
    %h2 Privacy
    %p We collect information to make Dmtri website useful for you.
    %p We collect your registration and user profile data. Our servers also collect log information used to make the website faster and better.
    %p To remember you, our system will give you a cookie. 
    %p We do not sell your information to anyone. However, we will show publicly available information to other users and may release other information to authorities where required by law.
    %p Your account is protected by an encrypted password. We keep it secure, you must also keep it safe. Our employees may not access your account unless required to do a specific job.
    %p Please register only when you reach 18 years old, or ask your parents' permission if you are between 13 and 18 years old.
    %p Privacy policy may change.
    %p Visiting Dmtri is subject to User Agreement and Privacy Policy.
    %p Effective as of Sept 26, 2013.
