.row
  .span10
    %h2 User Agreement
    %p By using Dmtri you agree to all the terms below. Pronoun, we refers to Dmtri.
    %p We develop an anonymous community to allow people to speak their minds. More features will be developed in the future. While we try hard to keep things running, things can go wrong.
    %p To fully use the services you need to create your own account, without violating other peoples' rights.
    %p You cannot use our site to post pornographic material, harass people, send spam, and do other crazy stuff. Be reasonable and responsible, don't do anything stupid and you'll be fine.
    %p Your content will preserve whatever copyright they had before saving to this site. We will protect the copyright and will not sell your content without your permission. Only anonymously written content from unregister user will belong to Dmtri.
    %p 
      We respect copyright. If anything is wrong, please send an
      = mail_to "iamjsonkim@gmail.com", "email", :encode => "hex"
      with all the details
    %p Some people may post links. Dmtri is not responsible for those links.
    %p We are not liable if something goes really wrong. Always have a backup of your content if you are really concerned.
    %p Please respect our brands.
    %p We may stop providing services at any time. You can stop using your account or close it at any time as well.
    %p If these terms of use change, we will notify you on Dmtri.com.





    
