- if !comment.anonymous || (comment.anonymous && user_signed_in? && comment.user_id == current_user.id)
  .comment
    .comment-body
      .comment-message= markdown.render(comment.content).html_safe
      .comment-message-below
        .comment-info.muted
          posted
          = time_ago_in_words(comment.created_at)
          by
          - if comment.anonymous
            anonymous
          - else
            = link_to comment.user.username, user_path(comment.user)
        .comment-actions
          - have_more_than_one_link = false
          - if current_user == comment.user
            - have_more_than_one_link = true
            = link_to "edit", edit_post_comment_path(post, comment), :class => "edit_comment"
            |
            = link_to "delete", soft_destroy_post_comment_path(post, comment), :method => :PUT, :remote => true, :class => "soft_delete"
            - if current_user.admin
              |
              = link_to "hard delete", [post, comment], :method => :DELETE, :class => "hard_delete"
          - if have_more_than_one_link
            |
          = link_to "permalink", post_comment_path(post, comment)