.upvote
  = form_for current_user.ratings.build(comment_id: comment.id), url: ratings_comment_upvote_path, remote: true do |f|
    = f.hidden_field :comment_id
    %button.btn.btn-link.upvote
      = "<i class='icon-arrow-up'></i>".html_safe
.downvote
  = form_for current_user.ratings.build(comment_id: comment.id), url: ratings_comment_downvote_path, remote: true do |f|
    = f.hidden_field :comment_id
    %button.btn.btn-link.downvote
      = "<i class='icon-arrow-down'></i>".html_safe