%h1 Edit comment

= form_for [@post, @comment] do |f|
  .field
    .row.hidden-phone
      .span5
        = f.label :content, "Comment"
      .span5
        .fs08.muted.text-right=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"}
    .row.visible-phone.expect-mobile
      .box-inline-left= f.label :content, "Comment"
      .box-inline-right.fs08.muted=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"} 
    = f.text_area :content, :class => "input-block-level"

  .field
    = f.submit "Save changes", :class => "btn btn-primary"
    
= render :partial => "layouts/formatting_help"