.comment
  .comment-body
    .comment-message= markdown.render(@comment.content).html_safe
    .comment-message-below
      .comment-info.muted
        posted
        = time_ago_in_words(@comment.created_at)
        by
        - if @comment.anonymous
          anonymous
        - else
          = link_to @comment.user.username, user_path(@comment.user)
      .comment-actions
        - if @comment.user && !@comment.anonymous
          |
          = link_to "edit", edit_post_comment_path(@post, @comment)
        |
        = link_to "show", post_comment_path(@post, @comment)
        |
        = link_to "delete", [@post, @comment], method: :DELETE
        - if @comment.user && !@comment.anonymous && !@comment.deleted
          |
          = link_to "soft_delete", soft_destroy_post_comment_path(@post, @comment), method: :PUT, remote: true
        |
        = link_to "reply", reply_post_comment_path(@post, @comment)


= form_for [@post, @reply], :url => create_reply_post_comment_path do |f|
  .field
    .row.hidden-phone
      .span5
        = f.label :content, "Reply"
      .span5
        .fs08.muted.text-right=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"}
    .row.visible-phone.expect-mobile
      .box-inline-left= f.label :content, "Reply"
      .box-inline-right.fs08.muted=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"} 
    
    - if user_signed_in?
      = f.text_area :content, rows: "10", :class => "input-block-level"
    - else
      = f.text_area :content, rows: "10", :class => "input-block-level", :placeholder => "You are commenting anonymously."
  - if user_signed_in?
    .field
      = f.label :anonymous do
        = f.check_box :anonymous
        Post anonymously
  - else
    = render "layouts/recaptcha/verification", :f => f

  .submit= f.submit "Submit", :class => "btn btn-primary"

= render :partial => "layouts/formatting_help"
