%h1 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    .field
      = f.label :remember_me do
        = f.check_box :remember_me
        Remember me

  .submit= f.submit "Sign in", :class => "btn btn-primary"
/ = render "devise/shared/links"
