%h2 Resend unlock instructions
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = devise_error_messages!
  / %div
  /   = f.label :email
  /   %br/
  /   = f.email_field :email
  %div= f.submit "Resend unlock instructions"
= render "devise/shared/links"
