- provide(:title, @user.username + " page")

.row#show-user-header
  .span7
    %h1
      = @user.username
  .span3
    - if current_user == @user
      .btn-group#settings.pull-right
        %a{:class => 'btn dropdown-toggle', "data-toggle" => 'dropdown', :href => '#'}
          Settings
          %span{:class => 'caret'}
        %ul.dropdown-menu
          %li= link_to "Change password", edit_user_registration_path(@user)
          %li= link_to "Delete account", danger_zone_user_path(@user)
    - if current_user && current_user.admin
      %p
        current_sign_in_ip:
        = @user.current_sign_in_ip
      %p
        last_sign_in_ip:
        = @user.last_sign_in_ip
      %p
        = link_to 'Delete this user and posts', user_path(@user), method: :DELETE

.row
  .span10
    - @posts_and_comments.each do |element|
      - if element.instance_of?(Post)
        = render "posts/post", :post => element
      - else
        = render "comments/comment", :post => element.post, :comment => element
    = paginate @posts_and_comments
/ #show-user
/   #user-heading
/     %h1.page-header= @user.username
/   #user-feed
