- flash.each do |key, value|
  .alert{:class => "alert-#{key}"}= value
- if object
  - if object.errors.any?
    .alert.alert-error
      - object.errors.each do |key, value|
        %li= key.to_s + " " + value.to_s