$(".voting-booth[post_id=\"" + <%= @post.id %> + "\"]").empty()
$(".voting-booth[post_id=\"" + <%= @post.id %> + "\"]").append("<div class='points'><div class='muted'>"+<%= @post.points %>+"</div></div>");