 <div id="recaptcha_widget">

   <div id="recaptcha_image"></div>
   <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

   <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

   <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />

   <div id="recaptcha-footer">
     <a href="javascript:Recaptcha.reload()"><div class="recaptcha-button"><i class="icon-refresh"></i></div></a>
     <a href="javascript:Recaptcha.switch_type('audio')"><div class="recaptcha-button recaptcha_only_if_image"><i class="icon-volume-up"></i></div></a>
     <a href="javascript:Recaptcha.switch_type('image')"><div class="recaptcha-button recaptcha_only_if_audio"><i class="icon-eye-open"></i></div></a>

     <a href="javascript:Recaptcha.showhelp()"><div class="recaptcha-button"><i class="icon-question-sign"></i></div></a>
   </div>

 </div>

 <script type="text/javascript"
    src="http://www.google.com/recaptcha/api/challenge?k=6Lcg5t0SAAAAAFGavU0j7HJGSWjkqkI5shprKpZR">
 </script>
 <noscript>
   <iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key"
        height="300" width="500" frameborder="0"></iframe><br>
   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
   </textarea>
   <input type="hidden" name="recaptcha_response_field"
        value="manual_challenge">
 </noscript>