.field#recaptcha
  = f.label :verification
  = recaptcha_tags :display => {:theme => "custom"}, :ajax => true
  = render 'layouts/recaptcha/recaptcha_html'
  %p.muted
    = link_to "Sign up", new_user_registration_path
    to avoid verification!