.child
  .comment
    .comment-body
      .comment-message= markdown.render(comment.content).html_safe
      .comment-message-below
        .comment-info.muted
          posted
          = time_ago_in_words(comment.created_at)
          by
          - if comment.anonymous
            anonymous
          - else
            = link_to comment.user.username, user_path(comment.user) if comment.user
        
        - if user_signed_in?
          = link_to "PermaDelete", [@post, comment], method: :DELETE if current_user.admin
          - if current_user.admin || current_user == comment.user
            = link_to "Edit", edit_post_comment_path(@post, comment)
            |
            = link_to "Delete", soft_destroy_post_comment_path(@post, comment), method: :PUT, remote: true 
            |
          = link_to "Show", post_comment_path(@post, comment)
          |
          = link_to "Reply", reply_post_comment_path(@post, comment)
        - else
          = link_to "Show", post_comment_path(@post, comment)
          |
          = link_to "Reply", reply_post_comment_path(@post, comment)
    - if comment.comments
      = render :partial => "posts/children_comments", :collection => comment.comments, :as => :comment
