= form_for [@post, @comment] do |f|
  .field
    .row
      .span10
        .fs08.muted.text-right=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"}
    - if user_signed_in?
      = f.text_area :content, rows: "10", :class => "input-block-level"
    - else
      = f.text_area :content, rows: "10", :class => "input-block-level", :placeholder => "You are commenting anonymously."
  - if user_signed_in?
    .field
      = f.label :anonymous do
        = f.check_box :anonymous
        Post anonymously
  - else
    = render "layouts/recaptcha/verification", :f => f

  .submit
    = f.submit "Comment", :class => "btn btn-primary"

= render :partial => "layouts/formatting_help"

