- if @home || !post.anonymous || (post.anonymous && user_signed_in? && post.user_id == current_user.id)
  .post
    .entry
      = link_to post.title, post_with_title_path(post, :title => post.title.titler), class: "title"
      .info
        Submitted
        / - shortened_time = time_ago_in_words(post.created_at)
        / = shortened_time[6..shortened_time.size]
        %span.submission_time= time_ago_in_words(post.created_at)
        by
        - if post.user && !post.anonymous
          = link_to post.user.username, user_path(post.user), :class => "link_to_submitter"
        - elsif post.user && post.anonymous && (post.user == current_user)
          = link_to post.user.username, user_path(post.user)
          %span.label anonymous
        - else
          anonymous
      .horizontal-buttons
        = link_to "#{post.comment_number} comments", post_with_title_path(post, :title => post.title.titler)+"#comments", :class => "link_to_comments"
