.upvote
  = form_for current_user.ratings.build(post_id: post.id), url: ratings_post_upvote_path, remote: true do |f|
    = f.hidden_field :post_id
    %button.btn.btn-link.upvote
      = "<i class='icon-arrow-up'></i>".html_safe
.points
  = post.points
.downvote
  = form_for current_user.ratings.build(post_id: post.id), url: ratings_post_downvote_path, remote: true do |f|
    = f.hidden_field :post_id
    %button.btn.btn-link.downvote
      = "<i class='icon-arrow-down'></i>".html_safe

