%h1 all posts

- @posts.each do |p|
  %div
    = p.title
    by
    - if p.user && !p.anonymous
      = p.user.username
    - else
      anonymous
    %br/
    = p.content
    %br/
    = link_to "show", post_with_title_path(p, :title => post.title.titler)
    |
    = link_to "edit", edit_post_path(p)
    |
    = link_to "delete", post_path(p), method: :delete, remote: true