%h1
  New Post
  - if !user_signed_in?
    %span.label.label-info Post anonymously

= form_for @post do |f|
  = render "shared/flash_messages", :object => @post
  .field
    = f.label :title
    = f.text_field :title, :class => "input-block-level"
  .field
    .row.hidden-phone
      .span5
        = f.label :content
      .span5
        .fs08.muted.text-right=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"}
    .row.visible-phone.expect-mobile
      .box-inline-left= f.label :content
      .box-inline-right.fs08.muted=link_to "Formatting help", "#myModal", :role => "button", :data => {:toggle => "modal"} 
    = f.text_area :content, :class => "input-block-level", :rows => 10
  - if user_signed_in?
    .field
      = f.label :anonymous do
        = f.check_box :anonymous
        Post anonymously
  - else
    = render "layouts/recaptcha/verification", :f => f

  .submit
    = f.submit "Submit", :class => "btn btn-primary"
  
= render :partial => "layouts/formatting_help"