- provide(:title, @post.title)
#post
  #post-heading
    %h2#title= link_to @post.title, post_with_title_path(@post, :title => @post.title.titler)
    #title-below.muted.row
      .span5
        posted
        = time_ago_in_words(@post.created_at)
        by
        - if @post.user && !@post.anonymous
          = link_to @post.user.username, user_path(@post.user), id: "username"
        - else
          #is-anonymous anonymous
      .span5.text-right
        = render :partial => "social", :locals => {:post => @post}

    #post-actions
      - if current_user
        - if current_user.admin?
          = link_to "PermaDelete", post_path(@post), method: :DELETE, class: "muted", confirm: "Are you sure you want to delete this post?"
          = link_to "Edit", edit_post_path(@post), :id => "post-delete"
          - if @post.deleted
            = link_to "Undelete", revive_post_path(@post), method: :PUT
          - else
            = link_to "Delete", soft_destroy_post_path(@post), method: :PUT, confirm: "Are you sure you want to delete this post?"
        - elsif @post.user && @post.user == current_user # && !@post.anonymous
          = link_to "Edit", edit_post_path(@post)
          = link_to "Delete", soft_destroy_post_path(@post), method: :PUT, confirm: "Are you sure you want to delete this post?"

    = render 'shared/flash_messages', :object => @post

    #content
      = markdown.render(@post.content).html_safe

  #post-comment
    = render "comment"

  %hr

  #comments
    - @comments.each do |comment|
      .comment
        .comment-body
          .comment-message= markdown.render(comment.content).html_safe
          .comment-message-below
            .comment-info.muted
              posted
              = time_ago_in_words(comment.created_at)
              by
              - if comment.anonymous
                anonymous
              - else
                - if comment.user
                  = link_to comment.user.username, user_path(comment.user)
                - else
                  *Deleted
            .comment-actions
              - if user_signed_in?
                = link_to "PermaDelete", [@post, comment], method: :DELETE if current_user.admin
                - if current_user.admin || current_user == comment.user
                  = link_to "Edit", edit_post_comment_path(@post, comment)
                  |
                  = link_to "Delete", soft_destroy_post_comment_path(@post, comment), method: :PUT, remote: true
                  |
                = link_to "Show", post_comment_path(@post, comment)
                |
                = link_to "Reply", reply_post_comment_path(@post, comment)
              - else
                = link_to "Show", post_comment_path(@post, comment)
                |
                = link_to "Reply", reply_post_comment_path(@post, comment)

        - if comment.comments
          = render partial: "children_comments", collection: comment.comments, as: :comment
