html
  height: 100%
body
  height: 100%
  #wrap
    min-height: 100%
    height: auto !important
    margin: 0 auto -150px
    #push30
      height: 30px
    #push180
      height: 180px
  #footer
    height: 150px
    background-color: #f5f5f5
    border-top: 1px solid #eee
    .footer-content
      margin: 34px auto
    #footer-logo
      font-size: 1.5em
      font-weight: 900
      font-style: italic
    ul#footer-navigation
      margin: 0
      margin-bottom: 10px
      li
        display: inline
        list-style-type: none
        padding-right: 10px
    .social-share
      margin-right: 10px
  @media (max-width: 767px)
    #footer 
      margin-left: -20px
      margin-right: -20px
      padding-left: 20px
      padding-right: 20px

#sidebar
  #logo
    // font
    font-weight: 900
    font-style: italic
    // layout
    margin: 0 auto
    text-align: center
    padding-bottom: 131px
    background-image: url('dmtri3.png')
    background-position: center
    background-repeat: no-repeat
    text-decoration: none

  #sidebar-pills
    text-align: center

#logo-phone
  // font
  font-weight: 900
  font-style: italic
  // layout
  display: block
  text-align: center

#logo-tablet
  // font
  font-weight: 900
  font-style: italic
  // layout
  display: block
  text-align: center

// layout
.expect-mobile
  position: relative
.box-inline-left
  float: left
.box-inline-right
  float: right
.mt20
  margin-top: 20px

// typo
// font-size
.fs08
  font-size: 0.8em
.fs07
  font-size: 0.7em