.comment
  margin-bottom: 10px
  .voting-booth.on-comment
    width: 25px
    display: block
    float: left
    margin-right: 4px
    text-align: center
    .occupy
      padding: 10px 0px
  .comment-body
    display: block
    overflow: hidden
    margin-left: 3px
    .comment-message
      p
        margin: 0 0 6px
    .comment-message-below
      font-size: 12px
      .comment-info
        display: block
        float: left
        margin-right: 4px
      .comment-actions
        display: block
        overflow: hidden

.child
  margin-top: 10px
  margin-left: 20px