#recaptcha
  #recaptcha_widget
    display: inline-block
    border: 1px solid #cccccc
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    padding: 10px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    #recaptcha_image
      margin-bottom: 3px
    input
      width: 300px
    #recaptcha-footer
      display: block
      .recaptcha-button
        width: 98px
        display: inline-block
        text-align: center
        border: 1px solid #cccccc
        border-radius: 3px