// home page
.post
  margin-bottom: 12px
  .voting-booth
    overflow: hidden
    float: left
    width: 25px
    text-align: center
  .entry
    overflow: hidden
    .title
      font-size: 16px
    .info
      font-size: 12px
    .horizontal-buttons
      margin: 0 auto
      list-style: none
      list-style-type: none
      line-height: 12px
      a
        font-weight: bold
        font-size: 12px

// show post page
#post
  #post-heading
    #title
      margin-bottom: 0px
    #title-below
      #username
        display: inline
      #is-anonymous
        display: inline
      iframe#twitter-widget-0
        width: 80px !important
    #post-actions
      font-size: 0.8em
      font-weight: bold
    #content
      .CodeRay
        .code
          pre
            font-size: 12px