.voting-booth
  .upvote
    display: block
    padding: 0
    margin: 0 auto
    form
      margin: 0
      padding: 0
  .downvote
    display: block
    padding: 0
    margin: 0 auto
    form
      margin: 0
      padding: 0

.voting-booth
  .points.done_voting
    margin-top: 20px