<!-- modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Formatting help</h3>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Syntax</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>*italics*</td>
          <td><i>italics</i></td>
        </tr>
        <tr>
          <td>**bold**</td>
          <td><b>bold</b></td>
        </tr>
        <tr>
          <td>[Dmtri](http://dmtri.com)</td>
          <td><a href="http://dmtri.com">Dmtri</a></td>
        </tr>
        <tr>
          <td>
            - thing 1 </br>
            - thing 2 </br>
            - thing 3
          </td>
          <td>
            <ul>
              <li>thing 1</li>
              <li>thing 2</li>
              <li>thing 3</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>~~strikethrough~~</td>
          <td><strike>strikethrough</strike></td>
        </tr>
        <tr>
          <td>![alt text](http://i.imgur.com/w6tsORn.png)</td>
          <td><img src="http://i.imgur.com/w6tsORn.png" alt="alt text" /></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>