%meta{charset: "utf-8"}
%meta{name: "keywords", content: " dmtri, dmtri.com, post, comment, reply, anonymous, blog "}
%meta{name: "description", content: "dmtri: share thoughts anonymously"}
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
