!!! 5
%html
  %head
    = render "layouts/meta"

    = title_maker(yield(:title)).html_safe
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}

    = render :partial => "layouts/social"

    = render "layouts/favicon"

    = csrf_meta_tags

  %body
    #wrap
      #push30
      .container
        .row
          .span2.visible-phone
            %h1#logo-phone= link_to application_name.capitalize, root_path
            .ul.nav.nav-tabs.nav-stacked#sidebar-pills
              - if user_signed_in?
                %li= link_to current_user.username, user_path(current_user)
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign up", new_user_registration_path
                %li= link_to "Sign in", new_user_session_path
              %li= link_to "Post", new_post_path
          .span10#main
            = yield
          .span2.hidden-phone#sidebar
            %h1#logo.hidden-tablet= link_to application_name.capitalize, root_path
            %h1#logo-tablet.visible-tablet= link_to application_name.capitalize, root_path
            .ul.nav.nav-tabs.nav-stacked#sidebar-pills
              - if user_signed_in?
                %li= link_to current_user.username, user_path(current_user)
                %li= link_to "Sign out", destroy_user_session_path, :method => :delete
              - else
                %li= link_to "Sign up", new_user_registration_path
                %li= link_to "Sign in", new_user_session_path
              %li= link_to "Post", new_post_path
      #push180
    #footer
      .container.footer-content
        .row
          .span6
            %ul#footer-navigation
              %li.first= link_to application_name.capitalize, root_path, :id => "footer-logo"
              %li= link_to "About", about_path
              %li= link_to "Help", help_path
              %li= link_to "Contact", contact_path
            %ul#footer-navigation.visible-phone
              %li= link_to "Twitter"
              %li= link_to "Facebook"
              %li= link_to "Tumblr"
          .span6.text-right.visible-desktop.visible-tablet
            = link_to image_tag('twitterbutton15x15px.png', :width => "30px"), 'https://twitter.com/DmtriDotCom', :class => "social-share"
            = link_to image_tag('fbbutton15x15px.png', :width => "30px"), "https://www.facebook.com/DmtriDotCom", :class => "social-share"
            = link_to image_tag('tumblrbutton15x15px.png', :width => "30px"), "http://dmtridotcom.tumblr.com/"
        .row
          .span12
            %p.fs07.muted
              By using this site, you agree to the
              = link_to "User Agreement", user_agreement_path
              and
              = link_to "Privacy Policy", privacy_policy_path
              \.
              %br
              © 2013 -
              = Time.now.year
              Dmtri. All rights reserved.



    / google analytics
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28018879-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
