%h1 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  - if flash[:notice]
    .alert.alert-success= flash[:notice]
  - elsif flash[:alert]
    .alert.alert-error= flash[:alert]
  = devise_error_messages!
  %p.well#warning
    There is absolutely no way to retrieve forgotten username or password.
    %br
    Please select them carefully.
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password, "Password (minimum 6 characters)"
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = render "layouts/recaptcha/verification", :f => f

  .submit= f.submit "Sign up", :class => "btn btn-primary"
/ = render "devise/shared/links"
